<div class="flex flex-col md:flex-row justify-between mt-2">
  <div class="w-full md:w-1/2 text-start">
    <div class="font-semibold text-lg">Account Profile</div>
    <div class="text-[#4A4C56] text-sm">
      Update your Profile details and address.
    </div>
  </div>
  <div
    class="bg-white rounded-2xl w-full md:w-1/2 min-h-[600px] px-4 border border-[#E9E9EA]"
  >
    <div
      class="relative overflow-x-auto max-h-[calc(100vh-190px)] no-scrollbar"
    >
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center justify-center cursor-pointer gap-2">
          <svg-icon name="user" />
          <h1
            class="text-sm text-[#070707] font-semibold font-plusJakarta leading-5 tracking-[-0.5px]"
          >
            Primary Contact
          </h1>
        </div>
        <div class="flex items-center justify-center cursor-pointer gap-2">
          <svg-icon name="edit" />
          <h1
            class="text-sm text-[#070707] font-medium font-plusJakarta leading-5 tracking-[-2%]"
          >
            Edit
          </h1>
        </div>
      </div>
      <div class="">
        <div class="flex flex-col items-start mt-6 gap-2">
          <div class="flex items-center">
            <p
              class="text-sm text-[#777980] font-normal leading-5 tracking-[-0.5px] min-w-[115px]"
            >
              Profile picture:
            </p>
            <div class="flex items-center gap-3">
              <img class="w-10" src="/assets/images/girl.png" alt="" />
              <div class="flex items-center gap-1">
                <button
                  class="text-sm text-white font-medium font-plusJakarta leading-5 tracking-[-0.5px] w-[130px] h-8 rounded-lg bg-gradient hover:bg-gradientHover border border-white"
                >
                  Change picture
                </button>
                <button
                  class="text-sm text-[#EB3D4D] hover:shadow-md font-medium font-plusJakarta leading-5 tracking-[-0.5px] w-[122px] h-8 rounded-lg border border-[#EAE9EB]"
                >
                  Delete picture
                </button>
              </div>
            </div>
          </div>
          <div class="flex justify-start items-start mt-2 gap-2">
            <div class="flex items-center gap-2">
              <svg-icon name="user-account" />
              <p
                class="text-sm text-[#777980] font-normal leading-5 tracking-[-0.5px] min-w-[85px]"
              >
                Name:
              </p>
            </div>
            <span class="text-sm text-[#070707] font-medium leading-[18px]"
              >Alexandra Parker</span
            >
          </div>
          <div class="flex justify-start items-start mt-2 gap-2">
            <div class="flex items-center gap-2">
              <svg-icon name="briefcase" />
              <p
                class="text-sm text-[#777980] font-normal leading-5 tracking-[-0.5px] min-w-[85px]"
              >
                Title:
              </p>
            </div>
            <span class="text-sm text-[#070707] font-medium leading-[18px]"
              >Sales at Vanta</span
            >
          </div>
          <div class="flex justify-start items-start mt-2 gap-2">
            <div class="flex items-center gap-2">
              <svg-icon name="location" />

              <p
                class="text-sm text-[#777980] font-normal leading-5 tracking-[-0.5px] min-w-[85px]"
              >
                Location:
              </p>
            </div>
            <span
              class="text-sm text-[#070707] font-medium leading-[18px] max-w-[300px]"
              >San Francisco Bay, San Francisco Bay Area, United States of
              America.</span
            >
          </div>

          <div class="flex justify-start items-start mt-2 gap-2">
            <div class="flex items-center gap-2">
              <svg-icon name="user-group" />
              <p
                class="text-sm text-[#777980] font-normal leading-5 tracking-[-0.5px] min-w-[85px]"
              >
                Bio:
              </p>
            </div>
            <span class="text-sm text-[#070707] font-medium leading-[18px]"
              >Sales at Vanta</span
            >
          </div>
          <div class="flex justify-start items-start mt-2 gap-2">
            <div class="flex items-center gap-2">
              <svg-icon name="mail" />
              <p
                class="text-sm text-[#777980] font-normal leading-5 tracking-[-0.5px] min-w-[85px]"
              >
                Email:
              </p>
            </div>
            <span class="text-sm text-[#070707] font-medium leading-[18px]"
              >-</span
            >
          </div>
          <div class="flex justify-start items-start mt-2 gap-2">
            <div class="flex items-center gap-2">
              <svg-icon name="call" />
              <p
                class="text-sm text-[#777980] font-normal leading-5 tracking-[-0.5px] min-w-[85px]"
              >
                Phone:
              </p>
            </div>
            <span class="text-sm text-[#070707] font-medium leading-[18px]"
              >-</span
            >
          </div>
          <div class="flex justify-start items-start mt-2 gap-2">
            <div class="flex items-center gap-2">
              <svg-icon name="linkedin" />
              <p
                class="text-sm text-[#00A1F1] font-semibold leading-5 tracking-[-0.5px] min-w-[85px]"
              >
                Linkedin
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
