<app-sub-header>
  <span header-title>Account settings</span>
  <span header-subtitle
    >Stay updated with the latest activities and alerts on the platform</span
  >
</app-sub-header>
<div class="flex w-full items-center justify-center mt-4">
  <div class="w-full flex flex-col items-center justify-start">
    <!--tabs section-->
    <div class="border-b border-[#E4E6E8] w-full mb-6">
      <ul class="flex w-full gap-12 -mb-px text-start">
        @for (tab of accountSettingTabs; track $index) {
          <li
            class="me-2 border-b-2"
            [ngClass]="{ 'border-[#7B66FF]': tab.active }"
          >
            <button
              class="inline-block py-2 text-sm font-medium leading-[18px] rounded-t-lg"
              [ngClass]="{
                'text-[#7B66FF]': tab.active,
                'text-[#A5A5AB]': !tab.active,
              }"
              (click)="onTabSection(tab)"
            >
              {{ tab.label }}
            </button>
          </li>
        }
      </ul>
    </div>
    <div class="h-[calc(100vh-270px)] max-w-7xl overflow-x-auto w-full no-scrollbar">
      <router-outlet />
    </div>
  </div>
</div>
