<div class="w-full flex items-center justify-center bg-lightGray">
  <div
    class="w-[90%] md:w-[420px] py-10 px-6 md:px-10 rounded-[16px] mt-10 z-10 relative md:relative md:mt-0 bg-white"
  >
    @if(resetPasswordSuccess){
      <h1
        class="text-[32px] text-color font-medium font-plusJakarta leading-10 tracking-[-0.5px]"
      >
        Reset password
      </h1>
      <form [formGroup]="resetPasswordForm">
        <div class="mt-8 flex flex-col gap-4">
          <div>
            <app-input-field
              [type]="'password'"
              id="password"
              formControlName="password"
              label="Password"
              placeholder="At least 8 characters"
              (typeEvent)="getPasswordValidationMessages()"
              [errorMessage]="
                formUtilityService.getFormError(
                  resetPasswordForm,
                  'password',
                  formSubmitted
                )
              "
            ></app-input-field>
            <!-- <div class="flex items-center mt-2">
              <span class="pi pi-info-circle text-secondary"></span>
              <span
                class="ms-2 text-xs font-normal text-grayBlack font-plusJakarta leading-[16px] tracking-[0%]"
              >
                Passwords must be at least 8 characters.</span
              >
            </div> -->
          </div>

          <app-input-field
            [type]="'password'"
            id="confirmPassword"
            formControlName="confirmPassword"
            label="Confirm password"
            placeholder="********"
            [errorMessage]="
              formUtilityService.getFormError(
                resetPasswordForm,
                'confirmPassword',
                formSubmitted
              )
            "
          ></app-input-field>
          @if (passwordValidationMessages.length > 0 && this.passwordControl?.value) {
            <div class="my-2 text-sm gap-x-4 flex justify-start flex-wrap">
              @for (validation of passwordValidationMessages; track $index) {
                <p
                  [ngClass]="{ 'text-danger text-xs': !validation.valid }"
                  class="flex items-center gap-1 min-w-[161px]"
                >
                  <svg-icon
                    [name]="validation.valid ? 'tick-circle' : 'close-circle'"
                    class="validation-icon"
                  />
                  {{ validation.message }}
                </p>
              }
            </div>
          }
        </div>

        <div class="mt-10">
          <button
            (click)="
              formSubmitted = true;
              resetPasswordForm.valid && submitResetPasswordForm()
            "
            [disabled]="submitLoading"
            class="hover:shadow-md text-base text-white font-semibold font-plusJakarta w-full h-11 rounded-[10px] bg-gradient hover:bg-gradientHover leading-5"
          >
            <span *ngIf="submitLoading" class="pi pi-spin pi-spinner mr-2"></span>
            Reset Password
          </button>
        </div>
      </form>
    }@else {
      <div class="flex flex-col items-center justify-center mt-3">
        <svg-icon name="popup-success" class="w-28 h-28 mr-5" />
        <div class="space-y-3 mt-10 max-w-[300px]">
            <h2
                class="text-2xl text-[#070707] font-semibold font-plusJakarta leading-9 tracking-[-0.5px] text-center">
                Password reset successful</h2>
            <p class="text-sm text-[#ABB0AF] font-normal font-plusJakarta leading-[18px] text-center">Are you sure want to sign in this account</p>
        </div>
        <button
            class="text-base text-white font-semibold font-plusJakarta leading-5 tracking-[-0.5px] bg-gradient hover:bg-gradientHover w-[327px] h-11 rounded-xl border border-[#F0F0F0] my-6" routerLink="/">Sign in</button>
    </div>
    }
  </div>
</div>
