<div
  (click)="close.emit(false)"
  class="w-[360px] h-[400px] no-scrollbar overflow-auto z-10 bg-white border border-grayBorder rounded-lg shadow-xl absolute right-0 top-14"
>
  <div
    class="flex flex-col mt-2"
    *ngFor="let date of commonUtils.getObjectKeys(notifications)"
  >
    <div class="flex items-center justify-between my-4 px-4">
      <span class="font-semibold text-sm text-start text-grayBlack">
        {{
          date === "Today" || date === "Yesterday"
            ? "New inventory uploaded"
            : "Payment processed"
        }}
      </span>
      <span class="font-normal text-sm text-start text-[#272835]">
        {{ date }}
      </span>
    </div>

    <div class="flex flex-col gap-3">
      <div
        class="flex flex-col gap-2 min-h-[72px] p-4 pt-0 border-b"
        *ngFor="let notification of notifications[date]"
      >
        <div class="flex gap-3 items-start">
          <img
            [src]="notification.avatar"
            alt="avatar"
            class="rounded-full w-9 h-9 object-cover"
          />
          <div class="flex flex-col">
            <div
              class="font-normal text-sm text-start text-[#777980]"
              [innerHTML]="notification.message"
            ></div>
            <span class="font-normal text-sm text-start text-[#777980]">
              {{ formatTime(notification.timestamp) }}
            </span>
          </div>
        </div>

        <div
          class="flex w-full sm:w-auto justify-start ml-12 gap-2 items-center"
          *ngIf="notification.actionButtons"
        >
          <button
            class="min-w-[65px] px-3 h-6 border border-secondary rounded-lg flex items-center justify-center text-secondary hover:shadow-md"
          >
            Decline
          </button>
          <button
            class="min-w-[65px] px-3 h-6 hover:shadow-md border border-secondary bg-secondary rounded-lg flex items-center justify-center text-white"
          >
            Approve
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="fixed inset-0 z-[2] cursor-default"
  (click)="close.emit(true)"
></div>
