<div
  class="w-full md:w-[350px] md:min-w-[350px] lg:w-[470px] lg:min-w-[470px] h-screen flex flex-col items-center relative bg-primary"
>
  <div class="flex flex-col items-center max-w-[420px] px-10 pt-32 gap-8">
    <h1
      class="text-[44px] text-white font-plusJakarta font-semibold leading-[44px] tracking-[1px]"
    >
      Start your journey with us.
    </h1>
    <p
      class="text-base text-[#E9E9EA] font-normal font-plusJakarta leading-[26px] tracking-[-0.5px]"
    >
      Transforming the way we purchase, manage, and sell card inventory.
    </p>
  </div>
  <img
    class="pt-12 bg-cover w-[456px] h-[304px]"
    src="/assets/images/aquabox logo-01 3.png"
    alt="uabox logo"
  />
  <img
    class="absolute bottom-0 w-full"
    src="/assets/svg/bg-circla.svg.svg"
    alt="circla.svg"
  />
</div>
