<footer
  class="flex flex-col lg:flex-row items-center md:justify-between w-full px-12 pb-6 mt-6 gap-4 lg:gap-0"
>
  <ul class="flex flex-row items-center gap-4 sm:gap-12">
    @for (item of footerMenu(); track $index) {
      <li
        class="text-sm text-color hover:underline font-medium font-plusJakarta cursor-pointer leading-5 tracking-[-0.5px]"
      >
        <a [routerLink]="item.path">{{ item.title }}</a>
      </li>
    }
  </ul>
  <p
    class="text-sm text-[#A5A5AB] font-medium font-plusJakarta leading-5 tracking-[-0.5px]"
  >
    &#169;2025.All Rights Reserved.
  </p>
</footer>
